{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_commitment/contract_page

    Commmitment Contract detail.

    Example context (json):
    {
        'cmid': 10,
        'title': "My Commitment Contract",
        'description': "<p>This is the description of my commitment contract.</p>",
        'periodicity': "weekly",
        'status': "active",
        'starttime': '2024-06-01 10:00',
        'endtime': '2024-12-01 10:00',
        'referee': 'John Doe',
        'created': '2024-06-01 09:00',
    }
}}
<div class="mod-commitment-contractpage">
    <h2>{{title}}</h2>
        <div class="contract-meta mb-2">
            <span class="badge badge-secondary">Status: {{ status }}</span>
            {{#starttime}} <span class="ml-2">Start: {{ starttime }}</span> {{/starttime}}
            {{#endtime}} <span class="ml-2">End: {{ endtime }}</span> {{/endtime}}
            {{#referee}} <span class="ml-2">Referee: {{{ referee }}}</span> {{/referee}}
        </div>

        <div class="contract-description mb-3">
            {{{description}}}
        </div>

        <div class="contract-periods mb-3">
            // TODO: list of PERIODS with a report button for each
        </div>

        <div class="contract-actions">
            <a class="btn btn-primary" href="">{{#str}} reportnow, commitment {{/str}}</a>
            <a class="btn btn-secondary ml-2" href="/mod/commitment/view.php?id={{ cmid }}">{{#str}} backtolist, commitment {{/str}}</a>
        </div>
</div>
